* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h2 {
  color: red;
}
h3 {
  color: blue;
}
span {
  color: red;
}
